@import 'variables.scss';

#fields {
  position: relative;
}

.field {
  display: inline-block;
  height: $blockheight;
  width: $blockheight;
  margin: {
    bottom: $blockmargin;
    right: $blockmargin;
  }
  border: $blockborder solid gray;
  background-color: white;

  &--invisible {
    border-color: transparent;
    background-color: transparent;
  }

  &--yellow {
    background-color: yellow;
  }

  &--blue {
    background-color: blue;
  }

  &--green {
    background-color: green;
  }
}

.block {
  position: absolute;
  top: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

#status {
  height: 160px;
  overflow-y: auto;

  .warning {
    color: red;
  }
}
