@import 'variables.scss';
@import 'mixins.scss';

#fields {
  display: inline-block;
  position: relative;
  margin: auto;
}

.field {
  display: inline-block;
  height: $blockheight;
  width: $blockheight;
  margin: {
    bottom: $blockmargin;
    right: $blockmargin;
  }
  border: $blockborder solid gray;
  background-color: white;

  &--invisible {
    border-color: transparent;
    background-color: transparent;
  }

  @include colors;

  &:last-child {
    margin-right: 0;
  }

  &--overlay {
    position: absolute;
  }
}

.block {
  position: absolute;
  top: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;

  &:last-child .field {
    margin-bottom: 0;
  }
}

#score {
  position: fixed;
  z-index: 1;
}

#preview {
  display: inline-block;
  right: 5px;
  border: gray solid 1px;
  top: 0.5%;

  .block {
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
}
