$blockheight: 40px;
$blockmargin: 4px;
$blockborder: 1px;
$colors: yellow, blue, orange, green, red, rebeccapurple, aqua;

:export {
 block: {
   border: $blockborder;
   margin: $blockmargin;
   height: $blockheight;
 };
 colors: $colors;
};
